img {
  border-radius: 30px;
  background-image: url(https://images.unsplash.com/photo-1557672172-298e090bd0f1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHw%3D&w=1000&q=80);
  box-shadow: 8px 8px 8px 8px black;
}
.individual_components {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.logo1 {
  width: 50vh;
  height: 35vh;
}
h4 {
  border: solid chartreuse 6px;
  box-shadow: 10px 10px 10px 10px black;
  border-radius: 95%;
  margin-left: 67vh;
  opacity: 0.5;
  max-width: 70vh;
  min-height: 40vh;
  background-size: cover;
  background-image: url("./quiz/imgs/register.jpg");
}
[alt="logo1"] {
  height: 30vh;
}
