.signOutButton {
  color: rgb(120, 192, 11);
  text-shadow: 2px 2px 2px 2px;
  font-size: 20px;
  padding-left: 30%;
}

.loginButton {
  color: greenyellow;
  text-shadow: 2px 2px 2px 2px;
  font-size: 30px;
  width: 300px;
}

.topBar {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-left: 35%;
}

#loginInfo {
  padding-left: 100px;
  color: greenyellow;
  font-size: 30px;
}
.sidebarNav {
  min-height: 20vh;
  border-radius: 45px;
}
#signUpButton {
  text-align: center;
  color: greenyellow;
  font-size: 30px;
  width: 200px;
}
* {
  text-shadow: 1px 2px black;
  color: #adff2f;
  font-size: 20px;
}

.sidelogo {
  margin-right: 70vh;
}