.loginbutton {
  color: deeppink;
  text-shadow: 2px 2px 2px 2px;
  font-size: 20px;
  width: 300px;
  padding-left: 50px;
}

#loginInfo {
  padding-left: 50px;
  color: greenyellow;
  font-size: 30px;
}
.sidebarNav {
  min-height: 20vh;
  border-radius: 45px;
}
* {
  text-shadow: 1px 2px black;
  color: #adff2f;
}
