@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

.supportForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
}
.name {
  border-radius: 10px;
  box-shadow: 4px 4px 4px 4px black;
  background: transparent;
  width: 350px;
}
.email {
  border-radius: 10px;
  box-shadow: 4px 4px 4px 4px black;
  background: transparent;
}
.message {
  border-radius: 10px;
  box-shadow: 4px 4px 4px 4px black;
  background: transparent;
}
#name {
  width: 350px;
}

#email {
  background: transparent;
  width: 350px;
}

#message {
  background: transparent;
  width: 350px;
}

#submit {
  font-size: 20px;
  text-decoration: none;
}

#submit:hover {
  font-size: 30px;
}

#submit:visited {
  color: red;
}
