@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

.supportForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}

#name {
    width: 350px;
}

#email {
    width: 350px;
}

#message {
    width: 350px;;
}

#submit {
    font-size: 20px;
    text-decoration: none;
}

#submit:hover {
    font-size: 30px;
}

#submit:visited {
    color: red;
}

@media screen and (max-width: 400px) {
    .supportForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40%;
    }
    #supportText {
        padding-left: 7%;
        font-size: 20px;
        padding-bottom: 10%;
    }
  }

  @media screen and (max-width: 500px) {
    .supportForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40%;
    }
    #supportText {
        padding-left: 7%;
        font-size: 20px;
        padding-bottom: 10%;
    }
  }

  @media screen and (max-width: 600px) {
    .supportForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40%;
    }
    #supportText {
        padding-left: 7%;
        font-size: 20px;
        padding-bottom: 10%;
    }
  }

  @media screen and (max-width: 700px) {
    .supportForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40%;
    }
    #supportText {
        padding-left: 7%;
        font-size: 20px;
        padding-bottom: 10%;
    }
  }

  @media screen and (max-width: 800px) {
    .supportForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40%;
    }
    #supportText {
        padding-left: 7%;
        font-size: 20px;
        padding-bottom: 10%;
    }
  }
  @media screen and (max-width: 900px) {
    .supportForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40%;
    }
    #supportText {
        padding-left: 7%;
        font-size: 20px;
        padding-bottom: 10%;
    }
  }