@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#name {
    width: 350px;
}

#email {
    width: 350px;
}

#message {
    width: 350px;
    height: 150px;
    padding-bottom: 130px;
}

#submit {
    font-size: 20px;
    text-decoration: none;
}

#submit:hover {
    font-size: 30px;
}

#submit:visited {
    color: red;
}