.footerWrapper {
  text-align: center;
  height: auto;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  opacity: 0.9;
  background-color: #17151c;
  color: #3a2b5c;
  padding-top: 10px;
  z-index: 1;
}

.footerLinks {
  background-color: transparent;
  color: #fcad5a;
  text-decoration: none;
}

.footerImg {
  height: 25px;
  width: 25px;
  background-color: #fcad5a;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px #3a2b5c;
}

.gitLinks,
.footerWho {
  color: #3a2b5c;
  margin-bottom: 10px;
}
