.footerWrapper {
  text-align: center;
  height: auto;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.856);
  color: aliceblue;
  padding-top: 10px;
}

.footerLinks{
    color: rgb(255, 217, 0);
    text-decoration: none;
}